.informationOfNode{
    background-color: white;
    /* height: 500px; */
    margin-top: 10px;
    /* width: 400px; */
}

.workloadpageaccordian{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px !important;
    /* padding-bottom: 50px; */
}

.workloadpageaccordiancontent{
    /* background-color: white; */
    border: 1px black solid;
}

.formInputs{
    text-align: start;
    margin-bottom: 5px;
}