.RootAccountContent {
   
}

.RootAccountContent .RootAccountrowTop .col {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.fa-circle-exclamation{
    color: red;
}

.fa-circle-check{
    color: green;
}

.fa-triangle-exclamation{
    color: darkorange;
}

.systemInformationTable table tr {
    border-bottom: 1px lightgray solid;
}