.SidebarAdminTop{

}

.cdacLogo{
    height: 50px;
}

/* .SidebarItemListTop{
    height: 70vh;
} */

.SidebarItemList{
    list-style: none;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.SidebarItemList .fa-solid .fa-chevron-right{
    cursor: pointer;
}

.SidebarItemListItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    color: #424242;
    /* margin-left: 10px;
    padding: 10px 0px; */
}

/* .SideBarListItemsText{
    margin: 0;
}

.AdminLogo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.AdminDashboardLogout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    font-size: larger;
    font-weight: bold;
}

.AdminName{
    opacity: 0.8;
    text-decoration: wavy;
    text-decoration: underline;
} */