.AdminDashboardTop{
    display: flex;
    /* overflow: hidden; */
    /* background:
    url(https://source.unsplash.com/E8Ufcyxz514/2400x1823)
    center / cover no-repeat fixed; */
    /* background: #8e9eab; 
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); 
    background: linear-gradient(to right, #eef2f3, #8e9eab);  */
}

.SidebarAdminPage{
    flex: 1;
}

/* .SidebarAdminTop{
    flex: 1;
    max-width: 300px;
} */

.AdminDashboardContentsTop{
    flex:4 ;
    margin-top: 50px;
}
