.landingPageTopSection{
    height: 50vh;
    background-color: rgb(49, 46, 54);
    color: white;
}

.landingPageTopButtons{
    text-decoration: underline;
    color: #00416A;
    background-color: #fff;
    font-weight: bold;
    padding: 5px;   
}

.topParagraph{
    font-size: large;
    font-weight: 400;
}

.btnAdmin{
    margin-right: 4px;
}

.landingPageMiddleSection{
    height: 30vh;
}

.buttonMiddle{
    text-decoration: none;
    color: #fff;
    position: relative;
    /* left: 120px; */
    background-color: #00416A;
    padding: 10px;
    right: -100px;
    border-radius: 0.375rem;
    cursor: pointer;
}

.buttonMiddle:hover{
    color: #E4E5E6;
}

.cardBody{
    position: relative;
    top: -35px;
}

.middleRow{
    position: relative;
    top: -25px;
    /* right: 10px; */
}

.cardStyling{
    border: 0px !important;
    height: calc(30vh + 50px ) !important;
    /* border: 1px solid black !important; */
}

.cardImageTop{
    height: calc(15vh + 15px)  !important;
}

.cardSubtext{
    color: gray;
}

.landingPageBottomSection{
    height: 20vh;
    background-color: darkgray;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px !important;
}