.landingPageTop{
    display: flex;
    min-height: 100vh;
}

.landingPageSidebar{
max-width: 250px;
background-color: rgb(225, 236, 244 , 0.2);
height: 100%;
}

.rightSideLandingPage{
    width: 100%;
    /* height: 100vh; */
    /* background-color: azure; */
}

.rigthSideTop{

}

.landingPageCard{
    max-width: 18rem;
}


/* ========================================= */


/* CSS */
.landingPageTopButtons {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.landingPageTopButtons:hover,
.landingPageTopButtons:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.landingPageTopButtons:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.landingPageTopButtons:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}


/* =============================================== */